# Advanced Querying Mongo

Importing libraries and setting up connection

In [4]:
from pymongo import MongoClient
client = MongoClient()

In [5]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
db = client.get_databse()

TypeError: 'Database' object is not callable. If you meant to call the 'get_databse' method on a 'MongoClient' object it is failing because no such method exists.

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
{name:"Babelgum"}

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
#Filter:
{"number_of_employees":{$gt:5000}}

#SORT: 
{number_of_employees:1}
#LIMIT: 
20

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
#Filter:
{founded_year:{$in:[2000,2001,2002,2003,2004,2005]}}

#SORT: 
{name:1, founded_year:1}

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
#Filter:
{"ipo.valuation_amount":{$gte:100000000}, "founded_year":{$lte:2010}}

#SORT: 
{name:1, ipo:1}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
#Filter:
{"number_of_employees":{$gt:1000}, "founded_year":{$lte:2005}}

#SORT: 
{number_of_employees:1}

#LIMIT:
10

### 6. All the companies that don't include the `partners` field.

In [ ]:
{name:{$ne:"partners"}}  ## No me ha funcionado, no debo estar haciendolo bien

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
{category_code:{$type:"null"}}

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
#Filter:
{"number_of_employees":{$gte:100}, "number_of_employees":{$lte:1000}}

#SORT: 
{name:1, number_of_employees:1}

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
#SORT: 
{ipo:-1}
#Limit:
10

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
#SORT: 
{number_of_employees:-1}
#Limit:
10

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
#Filter:
{founded_month:{$in:[1,2,3,4,5,6]}}
#Limit: 
1000

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
{"founded_year":{$lte:2000}, "acquisition.price_amount":{$gte:1000000}}

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
#Filter:
{"acquisition.acquired_year":{$gt:2010}}

#PROJECT: 
{"acquisition.price_amount":-1}

#SORT:
{"acquisition.price_amount":-1}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
#PROJECT: 
{name:1, founded_year:1}

#SORT:
{founded_year:1}

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
#FILTER:
{founded_day:{$in:[1,2,3,4,5,6,7]}}

#SORT:
{"acquisition.price_amount":-1}

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
#FILTER:
{category_code:{$eq:"web"}, number_of_employees:{$gt:4000}}

#SORT:
{number_of_employees:1}

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
#FILTER:
{"acquisition.price_amount":{$gte:10000000}, "acquisition.price_currency_code":{$eq:"EUR"}}

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
#Filter:
{"acquisition.acquired_month":{$in:[1,2,3]}}

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
#FILTER:
{founded_year:{$gte:2000}, founded_year:{$lte:2100}, "acquisition.acquired_year":{$lte:2011}}

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
{deadpooled_year:{$gt:3}}